#authMenu {
  display: flex;
  flex-direction: column;
  border: 1px solid coral;
  background: linear-gradient(0deg, rgba(0, 0, 50, 0.6), rgba(0, 0, 50, 0.6));
  margin: auto;
  border-radius: 9px;
  width: 50%;
  height: 70%;
}

#authMenu > .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: coral !important;
  border: 1px solid coral !important;
}

.ant-radio-button-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 50, 0.6), rgba(0, 0, 50, 0.6)) !important;
  color: white !important;
}

#authMenu > *:not(button) {
  margin-left: 1vw;
}

#authMenu > #selector, #authMenu > #loginForm, #authMenu > #registerForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

#authMenu > #loginForm, #authMenu > #registerForm {
  align-items: revert;
}

#loginForm > *:not(label), #registerForm > *:not(label) {
  border: 1px solid coral;
}

#authMenu > #loginForm, #authMenu > #registerForm {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}


#authMenu > #loginForm > label, #authMenu > #loginForm > input, #authMenu > #registerForm > label, #authMenu > #registerForm > input {
  margin-bottom: 0;
}

#authMenu > #loginForm :last-child, #authMenu > #registerForm :last-child {
  margin-left: auto;
  margin-right: 0;
  margin-top: 1vh;
}

#authMenu > button {
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 600px) {
  main {
    zoom: 1.5;
  }
  #authMenu {
    width: 90%;
  }

  #authMenu > .ant-radio-button-wrapper > .ant-radio-button {
    width: 40% !important;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper {
    width: 40% !important;
    font-size: 1.5vh;
  }
}

@media only screen and (max-width: 400px) {
  main {
    zoom: 1.5;
  }
  #authMenu {
    width: 90%;
  }

  #loginForm {
    width: 90%;
  }

  #loginForm > button {
    width: 5vh;
    font-size: 1vh;
  }

  #loginForm > label {
    font-size: 2vh;
  }

  #loginForm > input {
    height: 2vh;
    font-size: 1vh;
  }

  #registerForm {
    width: 90%;
  }

  #registerForm > button {
    width: 5vh;
    font-size: 1vh;
  }

  #registerForm > label {
    font-size: 2vh;
  }

  #registerForm > input {
    height: 2vh;
    font-size: 1vh;
  }
}