.authMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 9px;
  width: 50vw;
  height: 25vw;
}

.authForm {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}

.authMenu > .ant-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authMenu > .ant-card-body > .ant-radio-group{
  margin-bottom: 2vw;
}

.ant-col-8 {
  flex: 0 0 35%;
  max-width: 43%;
}


@media only screen and (max-width: 600px) {
  main {
    zoom: 1.5;
  }
  .authMenu {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  main {
    zoom: 1.5;
  }
  .authMenu {
    width: 90%;
  }

  #loginForm {
    width: 90%;
  }

  #loginForm > button {
    width: 5vh;
    font-size: 1vh;
  }

  #loginForm > label {
    font-size: 2vh;
  }

  #loginForm > input {
    height: 2vh;
    font-size: 1vh;
  }

  #registerForm {
    width: 90%;
  }

  #registerForm > button {
    width: 5vh;
    font-size: 1vh;
  }

  #registerForm > label {
    font-size: 2vh;
  }

  #registerForm > input {
    height: 2vh;
    font-size: 1vh;
  }
}