.homepageScreen {
  display:block;
  margin: auto;
  width: 90%;
}

.homepageScreen > div{
  color:black
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  main {
    zoom: 1.5;
  }
  .img {
    width: 100%;
    margin-right: 0;
    margin-top: 5vh;
  }
  .h1 {
    margin-top: 5vh;
  }
  .h3 {
    margin-left: 0vw;
  }
}