main {
  display: flex;
}

main > * {
  color: white
}

.profileCard {

  width:50vw;
  margin:auto;
}

.profileCard > .ant-btn {
  justify-self: end;
}

.profileCard > .ant-card-body {

  display: flex;
  flex-direction: column;
  color:black;
}

.editCard > .ant-card-body {
  align-items: center;
}

.editForm > .ant-row > .ant-col > .ant-form-item-required {
  margin-right: 2vw;
}

.editForm > .ant-btn-primary {
  margin-left:2vw;
  margin-right: 0.5vw;
}

#infos > h2 {
  color: black;
}

#infos > h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  main {
    zoom: 1.5;
  }
  .profileCard {
    width: 90%;
    height: 80%;
    text-wrap: normal;
    overflow: hidden;
  }

  .profileCard > .ant-card-body {
    width:100%;
    padding:3vw;
  }

  .profileCard > * {
    text-wrap: normal;
  }

  .profileCard > .ant-card-body > .ant-btn {
    width:100%;
    font-size:2.5vw;
  }
  #infos > h2 {
    font-size: 3vw;
  }

  .editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .editForm > .ant-btn-primary {
    margin-bottom: 5vw;
  }
}

@media only screen and (max-width: 400px) {

}