div[id^="task"] {
  text-align: left;
  border: 1px solid green;
  margin-left:1vw;
  margin-right: 1vw;
  margin-top:1vh;
  margin-bottom: 1vh;
  border-radius: 5px;
  padding-left:0.5vw;
  width:40vw;
}
div[id^="task"] >button {
  margin-bottom: 1vh;
}